<section class="todoapp">
  <app-header (submitNewTodo)="addTodo($event)"></app-header>

  
  <section class="main">
    
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list">
      <app-item *ngFor="let el of todos | filterTodos: footer.fltType | descTodos" 
      [item]="el"
      (submitDone)="notTodo($event)"
      (submitRemove)="rmvTodo($event)"
      ></app-item>
    </ul>

  </section>

  <app-footer [todoCount]="(todos | filterTodos:1).length" (submitClear)="rmvNotTodo()" #footer></app-footer>


</section>
