<section class="todoapp">
  <app-header (submitNewTodo)="addTodo($event)"></app-header>

  
  <section class="main">
    
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list">
      <app-item *ngFor="let el of todoView | filterTodo: footer.fltType" 
      [item]="el"
      (submitDone)="notTodo($event)"
      ></app-item>
    </ul>

  </section>

  <app-footer [todoCount]="todos.length" #footer></app-footer>
</section>
